@media print{
    body{
        font-family: Georgia, serif;
        font-weight: 400;
    }
    #main-header, .sidebar, .fb-wrap,#taboola-below-article-thumbnails,.meta-author1,.entry-meta,#text-10,.fb_iframe_widget, .article-thumb, .related-articles, .next-previous-articles, .mobile-comment-ad,#footer, .shares-and-views,  .like-and-share{display: none;}
    
    .page-content{
        margin-top: 5px;
    }
    a[href]:after {
    content: " (" attr(href) ")";
  }
    .glogo{
        height: 200px;
        width: 200px;
        font-weight: 700;
        font-size: 2.5em;
        background-color: #FFFFFF;
        color: #b42626;
    }
}
.meta-author1{
position: absolute;
right: 5%;
top: 1.5%;
font-size: 25px;
}
.meta-author1 a{
    color:black;
}